.container {
  display: flex;
  min-height: 100vh;
}
.container .row:first-child {
  width: 300px;
  border-right: 1px solid #cccccc;
}
.container .row:last-child {
  width: 100%;
}
.container .row:last-child .col:first-child {
  height: 80px;
  border-bottom: 1px solid #cccccc;
}
